jdbc.driver=com.mysql.jdbc.Driver
jdbc.driver.name=mysql

uby.url=localhost/uby_medium_0_3_0
uby.password=uby
uby.user=uby
uby.url.jdbc=jdbc:mysql://localhost/uby_medium_0_3_0

custom.db.user=uimpp
custom.db.password=uimpp

koch.db.url=jdbc:mysql://localhost:3306/uimpp_koch

web1t.pathname=PATH_TO_YOUR_DKRPO_HOME/web1t/ENGLISH